<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/medias/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/convidados.css">

    <title>Convidados</title>
</head>
<body>
    <header>
        <h1>Convidados</h1>
        <h2>Marco Thúlio & Myriad</h2>
    </header>

    <section class="wrapper-confirm-delete hidden">
        
    </section>

    <main>
        <section class="guest-list">
            <h1>LISTA DE CONFIRMADOS</h1>
            
        </section>
    </main>

    <div class="bg"></div>

    <footer>
        <p>&copy; Desenvolvido por <a href="https://instagram.com/indigitalprogramming" rel="external" target="_blank">Indigital</a></p>
      </footer>

      <script src="/javascripts/convidados.js"></script>
</body>
</html>