<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="/medias/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="/stylesheets/index.css">

  <title>Marco Thúlio & Myriad</title>
</head>
<body>
  <header>
    <section class="intro-container">
      <section class="intro-image-container">
        <img src="/medias/foto-cabecalho.jpg" alt="Myriad e Marco Thúlio mostrando as alianças">
      </section>

      <section class="intro-text-container">
        <p>Vamos nos casar!</p>
        <section class="name-container">
          <h1>
            Marco Thúlio <br>
            & <br>
            Myriad
          </h1>
        </section>
        <section class="date-container">
          <p class="name-day">Sábado</p>
          <div></div>
          <p class="number-day">10</p>
          <div></div>
          <p class="month">Agosto</p>
        </section>
      </section>
    </section>
  </header>

  <main>
    <section class="wrapper-presence-status hidden">
      
    </section>
    <section class="countdown-container">
      <h1>Contagem regressiva</h1>
      <section class="boxes-container">
        <section id="days-container">
          <p class="data"></p>
          <p class="name-data">Dias</p>
        </section>
        <section id="hours-container">
          <p class="data"></p>
          <p class="name-data">Horas</p>
        </section>
        <section id="minutes-container">
          <p class="data"></p>
          <p class="name-data">Minutos</p>
        </section>
        <section id="seconds-container">
          <p class="data"></p>
          <p class="name-data">Segundos</p>
        </section>
      </section>
    </section>
  
    <section class="history-container">
      <section class="history-image-container">
        <img src="/medias/foto-historia.jpg" alt="Marco Thúlio e Myriad em Fortaleza">
      </section>
      <section class="history-text-container">
        <h1>Nossa História</h1>
        <section class="paragraphs-container">
          <p>
            O propósito de Deus se cumpriu em nossas vidas, estamos realizando um sonho juntos. Nós somos testemunhas do amor incondicional de Deus e agradecemos a Ele por ter cruzado os nossos caminhos.
          </p>
          <p>
            Nos conhecemos no nosso trabalho, e bastou oferecer um copo de café para começarmos uma conversa. O nosso primeiro encontro foi ir ao cinema, assistimos um filme infantil horrível, mas era o único que tinha no horário, nesse dia já dava pra imaginar o quanto seriamos companheiros um do outro.
          </p>
          <p>
            No dia 14 de outubro veio o pedido de namoro, bem informal e sem planejamento, mas muito especial e marcante. Naquele dia começamos a escrever uma história linda. <br>
            Foram 9 meses de muito companheirismo, amor, crescimento, aprendizado e boas risadas. <br>
            Até que no dia 14 de julho de 2023, tomamos uma das decisões mais importantes de nossas vidas, com a benção de Deus e dos nossos familiares,  demos o primeiro passo para a construção do nosso lar, a nossa família.
          </p>
          <p class="highlight">
            Esperamos você no dia 10/08/2024 para o nosso SIM!
          </p>
        </section>
      </section>
    </section>

    <section class="presence-container">
      <section class="title-container">
        <section class="icon-container">
          <img src="/medias/presenca.png" alt="Taças de vinho com um coração representando comemoração">
        </section>
        <h1>Confirme sua presença</h1>
      </section>
      <section class="desktop-container">
        <section class="presence-text-container">
          <p>
            Olá, Espero que esteja tudo bem contigo!
          </p>
          <p>
            Estamos nos preparando para um momento realmente especial e gostaríamos muito de compartilhá-lo com você.
          </p>
          <p>
            Queríamos dizer o quanto seria incrível contar com a sua presença neste dia tão importante para nós. Sua presença faria toda a diferença e encheria nossos corações de alegria.
          </p>
          <p>
            Se surgir alguma dúvida ou se precisar de mais informações, estamos aqui para ajudar. É só nos contatar! Mal podemos esperar para celebrar este momento tão especial juntos.
          </p>
          <p>
            Com carinho, <br>
            Marco Thúlio e Myriad
          </p>
        </section>
        <section class="dubt-container">
          <section class="icon-dubt-container">
            <img src="/medias/duvida.png" alt="Ícone de interrogação representando dúvida">
            <h1>Como confirmar minha presença?</h1>
          </section>
          <section class="dubt-text-container">
            <p>
              É muito simples!
              Para confirmar a sua presença e a de sua família, iremos precisar que nos envie abaixo o seu nome completo.
            </p>
            <p>
              Depois nós entraremos em contato com você.
            </p>
            <p class="observation">
              Obs: Não é necessário enviar o nome de todos que moram com você!
            </p>
          </section>
        </section>
      </section>
      <section class="confirm-presence-container">
        <section class="form-container">
          <h1>Confirmar presença</h1>
          <form autocomplete="off" id="form">
            <section class="input-container">
              <label for="name-input">Seu nome completo:</label>
              <input type="text" name="name" id="name-input" placeholder="Nome completo...">
            </section>
            <section class="button-container">
              <button type="submit">Confirmar presença</button>
            </section>
          </form>
        </section>
      </section>
    </section>

    <section class="gifts-container">
      <section class="title-container">
        <section class="icon-container">
          <img src="/medias/presentes.png" alt="Ícone de caixas de presentes">
        </section>
        <h1>Lista de presentes</h1>
      </section>
      <section class="gifts-content-container">
        <section class="gifts-image-container">
          <img src="/medias/foto-presentes.jpg" alt="Marco Thúlio e Myriad com a camisa do Atlético GO sorrindo para foto">
        </section>
        <section class="interable-content-container">
          <section class="gifts-text-container">
            <p class="add-info">
              Neste momento especial, queremos expressar nossa imensa gratidão por ter você em nossas vidas. Sua presença e apoio significam mais do que palavras podem descrever.
            </p>
            <p>
              À medida que nos preparamos para dar o próximo passo em nossa jornada juntos, refletimos sobre as muitas memórias preciosas que compartilhamos e olhamos com esperança para o futuro que estamos construindo.
            </p>
            <p>
              Estamos nos preparando para o nosso grande dia e queríamos compartilhar algo especial contigo. 
            </p>
            <p>
              Criamos uma lista de presentes para celebrar este momento único e adoraríamos que você fizesse parte disso!
            </p>
            <p>
              Para conferir nossa lista de presentes e nos ajudar a tornar este dia ainda mais memorável, clique no botão abaixo.
            </p>
            <p>
              Ele te levará diretamente ao site onde organizamos nossos presentes.
            </p>
          </section>
          <section class="view-gifts-container">
            <a href="https://www.finalfeliz.de/marco-thulio-e-myriad" rel="external" target="_blank">Ver presentes</a>
          </section>
        </section>
      </section>
    </section>

    <section class="address-container">
      <section class="title-container">
        <section class="icon-container">
          <img src="/medias/localizacao.png" alt="Ícone de mapa representando a localização">
        </section>
        <h1>Endereço</h1>
      </section>
      <section class="iframe-container">
        <h1>Google Maps</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1607.2689928775253!2d-49.183523267334046!3d-16.639239068142853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935eedea90853c41%3A0x7e4f705a91b7c39c!2sSol%20Espa%C3%A7o%20Para%20Eventos!5e0!3m2!1spt-BR!2sbr!4v1708476186841!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <section class="text-address-container">
        <h1>Endereço:</h1>
        <p>
          Espaço sol, Rua Henrique Da Silva Dantas, N° 2 <br>
          Setor Belo Horizonte
        </p>
      </section>
    </section>
  </main>

  <footer>
    <p>&copy; Desenvolvido por <a href="https://instagram.com/indigitalprogramming" rel="external" target="_blank">Indigital</a></p>
  </footer>

  <script src="/javascripts/countdown.js"></script>
  <script src="/javascripts/registration.js"></script>
</body>
</html>
